body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img{
  height: 25rem;
  width: 30rem;
}

.image{
  position: absolute;
  top: 0;
  left: 0;
  height: 35rem;
  width: 40rem;
}

.title{
  font-size: 1.5rem;
  text-align: center;
  background-color: blue;
  color: white;
  padding: 3rem 2rem;
  position: absolute;
  top: 0;
  right: 0;
  height: 5rem;
  width: 40rem;
}

.description{
  position: absolute;
  background-color: blue;
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 3rem 2rem;
  bottom: 0;
  right: 0;
  height: 10rem;
  width: 40rem;
}

.simplecard{
  margin: 15rem auto;
  height: 25rem;
  width: 70rem;
  position: relative;
  box-shadow: 8px 8px 10px 1px rgb(205, 205, 205);
  border-radius: 8px;
  overflow: hidden;
}